
 body {
  background: linear-gradient(to bottom, #FFF8E1, #F5F0D0);
  font-family: 'Poppins', sans-serif;
  color: #3E2723; 
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}



.container {
  text-align: center;
  padding: 40px;
  max-width: 900px;
  margin: auto;
  color: #995c30;
}

header h1 {
  font-size: 2.4em;
  color: #4e342e;
  margin-bottom: 0.3em;
}

.subtitle {
  font-size: 1.1em;
  color: #6d4c41;
  margin-bottom: 2em;
}

.overview, .upload-section {
  background: #F3E5F5;
  border-radius: 20px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  padding: 30px 40px;
  margin-bottom: 30px;
  text-align: left;
}



h2 {
  color: #3e2723;
  border-left: 6px solid #ff9800;
  padding-left: 10px;
}

ul, ol {
  margin-left: 20px;
  line-height: 1.8;
}

.tech-list span {
  display: inline-block;
  background: #f3e5f5;
  margin: 5px;
  padding: 8px 15px;
  border-radius: 10px;
  font-weight: bold;
  color: #4a148c;
}

.btn-group {
  text-align: center;
  margin-top: 25px;
}

.btn {
  display: inline-block;
  background: #98cd5a;
  color: black;
  padding: 12px 25px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  margin: 8px;
  transition: 0.3s;
}

.btn.secondary {
  background: #66b1d4;
}

.btn:hover {
  transform: scale(1.05);
}

button {
  background-color: #ff9800;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

button:hover {
  background-color: #f57c00;
}

img {
  max-width: 100%;
  border-radius: 10px;
  margin-top: 20px;
  border: 3px solid #ffc107;
}

.result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #4e342e;
  text-align: center;
}

.footer {
  background: linear-gradient(90deg, #08bdff, #629565);
  color: #fff;
  text-align: center;
  padding: 20px 10px;
  font-family: 'Merriweather', serif;
  border-top: 4px solid #FFD54F;
  margin-top: 50px;
  position: relative;
}

.footer-content p {
  margin: 5px 0;
  font-size: 15px;
  line-height: 1.6;
}

.footer-content b {
  color: #FFD54F; 
}

.footer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, #FF9933, #FFFFFF, #138808); 
}

.footer1{
  background: linear-gradient(90deg, #a1c9a2, #6879cb);
  color: #fff;
  text-align: center;
  padding: 20px 10px;
  font-family: 'Merriweather', serif;
  border-top: 4px solid #FFD54F;
  margin-top: 50px;
  position: relative;
}


.top-banner {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}

.top-banner img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
  padding: 0;
  object-fit: cover;
  border: none;
}

.banner-quote {
  position: absolute;
  bottom: 10px; 
  width: 100%;
  text-align: center;
  background: rgba(139, 69, 19, 0.6); 
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 8px 0;
  font-family: "Noto Sans Devanagari", sans-serif; 
}

#image {
  display: none;
}

.custom-file-upload {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #add665; 
  color: black;
  font-weight: bold;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
  background-color: #66b1d4;
}

body {
  font-family: 'Mukta', sans-serif;
  background: linear-gradient(to bottom, #d7f0c2, #f0fdf4);
  color: #333;
}
.m1{
  color: darkblue;
}
